*
{
	margin:0;
	padding:0;
	font-size:20px;
}
.header0
{
	width:100%;
	height:150px;
	background:rgba(16,40,70,1);
	position:relative;
}
.header0 img
{
	margin-top:30px;
	margin-left:60px;
	cursor:pointer;
}
#oHeader0
{
	position:absolute;
	top:50px;
	right:60px;
	color:white;
	font-family:sans-serif;
	font-size:0.8em;
}
.header
{
	width:100%;
	height:50px;
	background:rgba(16,40,70,1);
	
}
.header .li-1
{
	float:left;
	margin-right:0px;
	padding-left:0px;
	width:160px;
	background:rgba(255,255,255,.5);
	line-height:50px;
	border-right:1px solid white;
	border-color:rgba(255,255,255,.7);
	position:relative;
}
#oLi-1
{
	margin-left:80px;
}
.header .li-1>a
{
	display:inline-block;
	width:160px;
	height:50px;
	text-align:center;
	text-decoration:none;
	color:white;
}
#oLi-4
{
	border-color:rgba(16,40,80,1);
}
.header .ul-1
{
	width:160px;
	background:rgba(16,40,80,1);
	display:none;
	position:absolute;
	top:50px;
	left:0px;
}
.header .ul-1 li
{
	line-height:35px;
	width:160px;
	margin:0px;
	text-align:center;
}
.header .li-1:hover
{
	background:#104E8B;
}
.li-1 a:hover
{
	color:white;
}
.header .ul-1 li:hover
{
	background:rgba(255,255,255,.3);
}
.header li
{
	list-style:none;
}
.header .ul-1 a
{
	text-decoration:none;
	display:block;
	width:160px;
	color:#C1CDCD;
	font-size:0.8em;
}
.pic
{
	width:100%;
	position:absolute;
	top:200px;
}
#img-1,#img-2,#img-3
{
	width:100%;
	height:400px;
	position:absolute;
	top:0px;
	z-index:-1;
}
#img-2,#img-3
{
	left:-100%;
}
#point0
{
	position:absolute;
	bottom:-370px;
	right:120px;
}
.point1
{
	width:16px;
	height:16px;
	border-radius:8px;
	float:left;
	background:grey;
	margin-right:10px;
}
#point-1
{
	background:white;
}
.content
{
	margin-top:450px;
	width:100%;
}
#iNotice
{
	width:84%;
	padding-left:50px;
	border:1px solid grey;
	border-color:#D3D3D3;
	line-height:2em;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
#iNotice>a
{
	text-decoration:none;
	font-size:0.8em;
	color:black;
	margin-left:80px;
}
.content p #iDate
{
	position:absolute;
	right:40px;
	font-size:0.8em;
}
#iBody
{
	width:84%;
	margin-left:auto;
	margin-right:auto;
}

.iTitle
{
	font-size:1.2em;
	text-align:center;
	margin-bottom:20px;
}
.iTitle-1
{
	margin-top:20px;
}
.iTitle-2
{
	margin-top:80px;
	padding-top:30px;
}
#iLeft
{
	position:relative;
	width:48%;
	float:left;
	margin-right:30px;
}
#iLeft>img
{
	display:block;
	margin-bottom:20px;
}
.cont
{
	text-decoration:none;
	color:black;
	font-size:0.8em;
}
.iRed
{
	font-size:0.6em;
	color:#CD2626;
}
.more
{
	color:white;
	font-size:0.7em;
	line-height:2em;
	width:6em;
	height:2em;
	background:#CD2626;
	text-align:center;	
}
#more-0
{
	display:inline-block;
	position:absolute;
	text-decoration:none;
	right:5px;
	bottom:0px;	
}
#iRight-1
{
	float:left;
	margin-right:2.5%;
	width:23%;
}
#iRight-1 img,#iRight-2 img
{
	margin-bottom:20px;
}
.cont-1
{
	font-size:0.6em;
	color:grey;
	margin-top:20px;
}
#drag-1
{
	width:100%;
	height:400px;
	background:#F4F4F4;
}
#iCenter
{
	margin-top:20px;
	width:84%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
#iCenter-1,#iCenter-2
{
	float:left;
	width:30%;
	margin-right:5%;
	border-top:3px solid black;
}
#iCenter-1
{
	border-top-color:blue;
}
#iCenter-2
{
	border-top-color:orange;
}
#iCenter-3
{
	float:left;
	width:30%;	
	border-top:3px solid #CD2626;
}
#iCenter-1 img
{
	width:100%;
}
.cont-0
{
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	line-height:2em;	
}
#ccImg-01,#ccImg-02,#ccImg-03,#ccImg-04
{
	cursor:pointer;	
}

#more-1
{
	position:absolute;
	left:45%;
	top:350px;
	text-decoration:none;
}
#drag-2
{
	width:100%;
	height:380px;
	background:rgba(16,40,80,1);
	position:relative;
}
#oCenter
{
	width:84%;
	padding-top:30px;
	margin-left:auto;
	margin-right:auto;
}
.iTitle-3
{
	margin-top:0px;
	color:white;
	margin-left:0;
}

#oCenter-1,#oCenter-2,#oCenter-3
{
	background:white;
	float:left;
	box-sizing:border-box;
	width:31%;
	height:220px;
	margin-right:3%;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	border-top:3px solid black;
}
#oCenter-1
{
	border-top-color:#CD2626;
}
#oCenter-2
{
	border-top-color:orange;
}
#oCenter-3
{
	margin-right:0px;
	border-top-color:#CD2626;	
}
#oCenter img
{
	float:left;
	margin-right:7px;
	margin-bottom:10px;
}
#more-2
{
	clear:both;
	position:absolute;
	top:330px;
	left:46%;
	text-decoration:none;
}
#drag-3
{
	width:100%;
	height:450px;
	padding-top:30px;
	background:#EDEDED;
}
#dCenter
{
	width:84%;
	margin-left:auto;
	margin-right:auto;
}
.iTitle-4
{
	margin-bottom:20px;
}
#dCenter-1,#dCenter-2,#dCenter-3,#dCenter-4
{
	width:20%;
	float:left;
	box-sizing:border-box;
	background:white;
	margin-right:5.5%;
	padding:30px 15px 30px 15px;
	text-align:center;
	box-shadow:0px 2px #DEDEDE;
}

#dCenter-4
{
	margin-right:0px;
	width:19%;
	
}
#dCont-1
{
	-webkit-line-clamp:6;		
}
#dCont-2
{
	-webkit-line-clamp:5;		
}
#dCont-3
{
	-webkit-line-clamp:7;		
}
#dCont-4
{
	-webkit-line-clamp:6;		
}
#fTitle
{
	font-family:sans-serif;
	font-size:1.2em;
	color:white;
	margin-bottom:40px;
}
.footer
{
	width:100%;
}
#drag-4
{
	width:100%;
	height:180px;
	padding-top:30px;
	background:rgba(88,0,0,1);
}
#fCenter
{
	width:84%;
	margin-left:auto;
	margin-right:auto;
}
#fDrag-1
{
	width:60%;
	float:left;
}
.fCenter-0
{
	float:left;
	position:relative;	
	margin-right:5%;
	margin-bottom:20px;
	width:36%;
	height:50px;
	box-sizing:border-box;
	padding-top:5px;
}
#cFigure-1
{
	position:relative;
	float:left;
	margin-right:25px;
}
#figure-1
{
	width:0px;
	height:0px;
	border-left:16px solid transparent;
	border-right:16px solid transparent;
	border-bottom:12px solid white;
}
#figure-2
{
	width:5px;
	height:5px;
	border-radius:3px;
	background:rgba(88,0,0,1);
	position:absolute;
	left:13px;
	top:5px;
}
.figure-3
{
	width:10px;
	height:12px;
	background:white;
	box-sizing:border-box;
	border-top:2px solid white;
	border-left:3.8px solid rgba(88,0,0,1);
	border-right:3.8px solid rgba(88,0,0,1);
	position:absolute;
	top:14px;
}
#figure-3
{
	left:2px;
}
#figure-4
{
	left:11px;
}
#figure-5
{
	left:20px;
}
#figure-6
{
	width:26px;
	height:1px;
	position:absolute;
	top:28px;
	left:3px;
	border-top:thin solid white;
	background:white;
}
#figure-7
{
	width:30px;
	height:1px;
	position:absolute;
	top:31px;
	left:1px;
	border-top:thin solid white;
	background:white;	
}
.text-0
{
	font-family:serif;	
	color:white;
	font-size:0.9em;
	position:absolute;
	top:12px;
	text-decoration:none;
}
.logo-0
{
	margin-right:20px;
}
#fDrag-2
{
	width:34%;
	float:left;
	margin-left:4%;
}
.lCenter-0
{
	width:45%;
	margin-right:5%;
}
.text-1
{
	font-family:sans-serif;
	font-size:0.7em;
}
#footer-1
{
	width:100%;
	height:50px;
	background:rgba(16,40,70,1);
}
#fDrag-3
{
	width:84%;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#footer-1 span
{
	font-size:0.6em;
	font-family:sans-serif;
	color:rgba(255,255,255,.6);
	line-height:50px;
}















